<div class="p-4 md:p-8 max-w-6xl mx-auto">
  <%= render "current_subscription" %>
  <%= render "payment_method" %>
  <%= render "change_plan" %>
  <%= render "payment_history" %>
  <%= render "billing_address" %>
</div>